* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h2 {
  padding: 10px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;

  width: 99%;
  margin: 10px;
}

td {
  width: 200px;
  border: 3px solid black;
  text-align: center;
  padding: 8px;
}
.actions {
  display: flex;
  align-items: flex-end;
  width: 400px;
  margin: 0 auto;
}
.image {
  display: block;
  width: 250px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
}
.btn {
  width: 100px;
  height: 50px;
  border: 10px solid black;
  cursor: pointer;
}
