*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
input{
  background-color: white;
  border: 1px solid silver;
  color: black;
  margin-top: 12px;
}
 select{
  max-width: 120px;
 }
 textarea{
  display: inline-block;
  min-width: 350px;
  min-height: 100px;
  margin-top: 10px;
}
span{
  display: block;

}
.tabs{
 
  max-width: 800px;
  border-top: none;
  margin: 0 auto;
   
}
.tab-h{
  width: 200px; 
 
  padding: 5px;
 
}
.active{
 border: 1px solid black;
 border-bottom: none;
 background-color: white;
 z-index: 10;
}
.tab-header{

  width: 800px;
  display: flex;
  position: relative;
 
 
}
.tabContent{
  padding:10px;
  max-width: 800px;
  min-height: 200px;
 border: 1px solid black;
 position: relative;
 top: -1px;
 display: none;
 
}
 
 
#block{
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: green;
  margin-top: 15px;
}

.container_align{

border: 1px solid black;
background-color: orange;
color: white;
text-align: left;
min-width: 150px;
min-height: 100px;
padding: 10px;
 font-size: 16px;
}
.decorated_text{ 
text-decoration: none;
}
.text_align_app {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-between;
  gap: 10px;
}


.text_decoration_app{
  display: flex;
  min-width: 250px;
  min-height: 50px;
   
 
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-between;
  gap:10px;
}
.decorated_text{
min-height: 100px;
background-color: orange;
color: white;
padding: 15px;
margin-top: 10px;
display: flex;
align-items: center;
 
}
 
