*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: #333366; 
  font-family:  cursive;
  margin: 10px 0;
}

.wrapper{
  max-width: 400px;
  min-height: 250px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 3px 5px 0px rgba(115,115,115,1);


  margin-bottom: 20px;
}
.control{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#tasks{
 width: 100%;
 max-width: 400px;
display: flex;
flex-direction: column;
align-items: center;
  
}
#iTask{
width: 90%;
border: 0.5px solid silver;
font-family:   Arial, Helvetica, sans-serif;
border-radius: 5px;
padding: 2px; 
}
select {
margin:10px 0;
width: 90%;

}

 
span{
  display: inline-block;
  height: auto;
}
.task-item {
  width: 90%;
  height: auto;
  position: relative; 
  display: flex;
  flex-wrap: wrap; 
  align-items: baseline; 
   
 padding-left: 5px;
   
}
.task-item:nth-child(2n){
  margin-top: 5px;

}
.task_name:not(input){
 
padding-left: 20px;

} 
input[type="checkbox"]{
  position: absolute;
  top: 20px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  cursor: pointer;
}

input:checked{
  background-color: red;
}
 
 
 
.dropdown{
  width: 100%;
  padding-left: 20px;
}

select ,option{ 
  border: none;
    
   
}
select{
  max-width: 180px;
}
 
select:focus{
  outline: none;
}
input[type="text"]{
  min-width: 280px;
  min-height: 30px;
  border: 0.5px solid silver;
   
  padding: 2px;
 text-indent: 10px;
}
input[type="text"],#iTask, select {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 30px;

}
.task_name{
   width: 100%;
  
  padding-top: 15px;
  padding-right: 10px;
  font-size: 20px;
  font-family: cursive;
  max-width: 90%;
  margin-left: 10px;
}
.remove{
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  position: absolute;
  top:35%;
  right: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: cursive; 
}

.date_created{
  display: block; 
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 10px;
  padding-left: 32px; 
  color: silver;
}